

<div class="container-fluid"> 
    <div class="row">
        {{#each users}}
        <div class="col" id="users-box">
            <a href="/user/{{_id}}">
            <img src="{{image}}" id="users-image" class="rounded"   >
            </a>
        </div>
        {{#each}}
    </div>  
</div>

<div class="card" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top">
                <div class="card-body">
                    <a href="/user/{{id}}"><h5 class="card-title">{{fullname}}</h5></a>
                    <p id="address" class="card-title">{{location}}</p>
                </div>
            </div>